body {
    background: url('../img/bg.jpg') no-repeat 50% 50%;
    background-size: cover;
    overflow: hidden;
    font-family: "CourierPrime-Regular";
    #root {
        overflow: hidden;
        .Output {
            background: $transparent;
            overflow: hidden;
            a {
                color: #F804FB;
            }
            button {
                border-radius: 0;
            }
            input {
                border-radius: 0;
                &:-internal-autofill-selected {
                    background-color: #051C5F !important;
                }
            }
            div {
                border-radius: 0;
            }
            .ant-input {
                background-color: #051C5F;
            }
            .space-between {
                justify-content: space-between;
            }
            .flex {
                display: flex;
            }
        }
    }
}