body {
    background: url('../img/bg.jpg') no-repeat 50% 50%;
    background-size: cover;
    overflow: hidden;
    font-family: "CourierPrime-Regular";
    #root {
        overflow: hidden;
        .Output {
            background: $transparent;
            overflow: hidden;
        }
        // isometric fixes
        .react-isometric-map {
            transform-origin: right center;
            position: absolute;
            user-select: none;
            & * {
                user-select: none;
            }
            .wall {
                display: none;
            }
            .react-isometric-tile {
                & > .floor {
                    background: rgba(0,0,0,0);
                    border: 0;
                }
            }
        }
        .react-isometric-object {
            user-select: none;
            bottom: 20px;
            left: -3px;
        }
    }
    a {
        color: #F804FB;
    }
    button {
        border-radius: 0;
    }
    input {
        border-radius: 0;
        &:-internal-autofill-selected {
            background-color: #051C5F !important;
        }
    }
    div {
        border-radius: 0;
    }
    .ant-input {
        background-color: #051C5F;
    }
    .space-between {
        justify-content: space-between;
    }
    .flex {
        display: flex;
    }
    .touchable {
        cursor: pointer;
    }
}