.ant-drawer {
    overflow: hidden;
    .ant-drawer-mask {
        background-color: $transparent;
    }
    .ant-drawer-content-wrapper {
        z-index: 1001;
        height: 64px !important;
        .ant-drawer-content {
            background-color: $game-color-dark;
            box-shadow: -2px 0 0 $game-color-darkest;
            border: 3px solid $game-color;
            .ant-drawer-wrapper-body {
                overflow: hidden;
                .ant-drawer-header {
                    display: none;
                }
                .ant-drawer-body {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    overflow: hidden;
                    color: $game-color;
                    font-size: 14px;
                    font-family: 'PressStart2P-Regular';
                    text-shadow: 2px 2px 0px $game-color-darkest;
                    i {
                        font-style: normal;
                        display: inline-block;
                        vertical-align: middle;
                        margin: 0 10px;
                        z-index: 999;
                    }
                    .Stats {
                        font-size: 14px;
                    }
                    .game-menu-btn {
                        font-family: 'PixelIconsCompilation';
                        font-size: 32px;
                    }
                    .game-menu-text-btn {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
