.ant-drawer {
    overflow: hidden;
    .ant-drawer-content-wrapper {
        z-index: 1001;
        .ant-drawer-content {
            background-color: $game-color-dark;
            box-shadow: -2px 0 0 $game-color-darkest;
            border: 3px solid $game-color;
            .ant-drawer-wrapper-body {
                overflow: hidden;
                .ant-drawer-header {
                    color: $game-color;
                    background: $game-color-dark;
                    border-bottom: 3px solid $game-color;
                    border-radius: 0;
                    text-align: center;
                    font-size: 60px;
                    padding: 0;
                    height: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 10px;
                    .ant-drawer-title {
                        color: $game-color;
                        font-family: 'NK221';
                        font-size: 70px;
                    }
                }
                .ant-drawer-body {
                    flex-direction: column;
                    align-items: flex-start;
                    & > div {
                        margin-bottom: 25px;
                        height: 25px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        & > * {
                            color: $game-color;
                            margin-bottom: 0;
                        }
                    }
                    i {
                        font-size: 30px;
                        font-family: "PixelIconsCompilation";
                    }
                    .slider {
                        width: 150px;
                    }
                }
            }
        }
    }
}