.Output {
    .header-decoration {
        display: none;
        width: 100%;
        height: 50px;
        position: relative;
        top: 64px;
        background: url('../img/pixil-frame-0.png') repeat-x top 50px left 0%;
    }
    .ant-layout-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 998;
        color: $game-color;
        background: $game-color-dark;
        font-family: "PressStart2P-Regular";
        text-shadow: 2px 2px 0px $game-color-darkest;
        // font-size: 26px;
        .ant-menu {
            text-transform: uppercase;
            color: $game-color;; 
            background: $game-color-dark;
            .ant-menu-item {
                color: $game-color;
                border-color: $transparent;
                max-height: 64px;
                &.ant-menu-item-selected {
                    background-color: $game-color;
                    span {
                        color: $game-color-darkest;
                        text-shadow: 2px 2px 0px $game-color-warn;
                    }
                    i {
                        color: $game-color-darkest;
                        text-shadow: 2px 2px 0px $game-color-warn;
                    }
                }
                i {
                    font-size: 36px;
                    font-family: "PixelIconsCompilation";
                    vertical-align: middle;
                }
                span {
                    font-size: 22px;
                    font-family: "PressStart2P-Regular";
                    vertical-align: middle;
                }
            }
        } 
        .UserMenu {
            background-color: $game-color-dark;
            box-shadow: 2px 2px 0 $game-color-darkest;
            border: 2px solid $game-color;
            height: 40px;
            min-width: 150px;
            color: $game-color;
            span {
                display: flex;
                justify-content: space-around;
                align-items: center;
                height: 100%;
                font-family: "CourierPrime-Regular";
                color: $game-color-darkest;
                text-shadow: none;
                canvas {
                    width: 30px !important;
                    height: 30px !important;
                    border-radius: 50%;
                }
            }
        }
        .Stats {
            z-index: 999;
            color: $game-color; 
            font-family: "PressStart2P-Regular";
            font-size: 14px;
        }
        .game-menu-btn {
            font-size: 36px;
            font-family: "PixelIconsCompilation";
            vertical-align: middle;
            width: 50px;
            z-index: 999;
            color: $game-color;
        }
        .game-menu-text-btn {
            font-size: 24px;
            font-family: "PressStart2P-Regular";
            vertical-align: middle;
            z-index: 999;
            color: $game-color;
        }
    }
}

.ant-popover {
    .ant-popover-arrow {
        border-top-color: $game-color !important;
        border-left-color: $game-color !important;
    }
    .ant-popover-inner {
        border-radius: 0;
        background-color: $game-color-dark;
        box-shadow: 2px 2px 0 $game-color-darkest;
        border: 3px solid $game-color;
        .ant-popover-title {
            color: $game-color;
            border-bottom: 3px solid $game-color;
        }
        .ant-popover-inner-content {
            button {
                display: block;
                width: 100%;
                border-radius: 0;
                background-color: $game-color-dark;
                box-shadow: 2px 2px 0 $game-color-darkest;
                border: 2px solid $game-color;
                color: $game-color-darkest;
                text-transform: uppercase;
            }
        }
    }
}