.game-modal {
    background-color: #051C5F;
    border: 3px solid #33F6F9;
    box-shadow: 2px 2px 0 #F804FB;
    border-radius: 0;
    .ant-card-body {
        color: #33F6F9;
        .hello {
            font-family: "PressStart2P-Regular";
            text-shadow: 1px 1px 0 #F804FB;
        }
        .game-btn {
            color: #33F6F9;
            border: 2px solid #33F6F9;
            background-color: #051C5F;
            border-radius: 0;
            box-shadow: 1px 1px 0 #F804FB;
            margin: 35px auto;
            display: block;
            &:nth-child(1) {
                margin-top: 50px !important;
            }
        }
    }
}

.game-active {
    .game-modal {
        position: absolute;
        z-index: 999;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}