.ant-notification {
    .Notify {
        color: #33F6F9;
        background-color: #051C5F;
        border: 3px solid #33F6F9;
        .ant-notification-notice-message {
            color: #33F6F9;
        }
        .anticon-close {
            color: #33F6F9;
        }
    }
}