.ant-notification {
    .Notify {
        color: $game-color;
        background-color: $game-color-dark;
        border: 3px solid $game-color;
        .ant-notification-notice-message {
            color: $game-color;
        }
        .anticon-close {
            color: $game-color;
        }
    }
}