.TimeMachine {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 110px;
    right: 90px;
    z-index: 999;
    color: #33F6F9;
    background-color: #051C5F;
    border: 3px solid #33F6F9;
    padding: 25px;
    font-family: "PressStart2P-Regular";
    font-size: 1em;
    button {
        border: 2px solid #33F6F9;
        background-color: #F804FB;
        margin: 0 5px;
    }
}