$header-height: 64px;
$footer-height: 69px;
$transparent: rgba(0,0,0,0);
$game-color-darkest: #0F2A3F;
$game-color-info: #20394F;
$game-color-dark: #4E495F;
$game-color-warn: #816271;
$game-color-light: #997577;
$game-color: #C3A38A;
$game-color-lightest: #F6D6BD;
$game-color-danger: #811350;
$game-color-success: #838A54;
